/*.columns{
  display: flex;
  flex-direction: row;
}
.board-name{
  text-align: center;
  font-size: 26px;
  font-family: Arial;
}
.kanban-title {
  margin: 20px 0 10px 0;

}*/

.back{
  font-size: 36px;
  margin: 5px 0 10px 15px;
  cursor:pointer;
}
.board {
  margin: 0 15px 20px 15px;
  &-date{
    font-size:12px;
    margin: 0;
    color: cadetblue;
  }
  &-title {
    padding: 14px;

    &-h2 {
      margin-bottom: 0;
      word-wrap: break-word;

    }

    &-buttons {
      float: right;

      .save-icon {
        color: #28a400;
      }

    }
  }

}

.mat-input-wrapper {
  margin: 0;
}
