.boards-container {
  margin-top: 15px;
}

.boards-wrap {

}
.boards-list {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  display: flex;
  margin: auto;
}

//@media screen and (max-width: 768px) {
//  .boards-list {
//    flex-direction:column;
//  }
//}
