<app-toolbar></app-toolbar>

<div *ngIf="user | async; then authenticated ">
  <!-- template will replace this div -->
</div>

<!-- User logged in -->
<ng-template #authenticated>
  <div class="container-fluid boards-container">
    <div>
      <button class="btn-add"
              mat-mini-fab
              [disabled]="newBoard"
              matTooltip="Add Board"
              (click)="showCreateBoard()">
        <mat-icon class="btn-add-icon">add</mat-icon>
      </button>
    </div>
    <div class="boards-list">
      <board-item *ngFor="let board of boards"
                  [board]="board">
      </board-item>
      <board-add-form [newBoard]="newBoard"
                      (newBoardChange)="hideBoardTitle($event)"
                      (newBoardChange)="createBoard($event)">
      </board-add-form>
    </div>
  </div>
</ng-template>

