
<div mat-dialog-content>
  <div class="change-title-description"
       *ngIf="!cardTitle || !data.card.title "
       (click)="changeCardTitle()">
    <p class="title">TITLE</p>
    <p>{{data.card.title}}</p>
  </div>

  <div *ngIf="!cardTitle || !data.card.description && data.card.description !=='' "
       class="change-title-description"
       (click)="changeCardDescription()">
    <p class="title">DESCRIPTION</p>
    <p>{{data.card.description}}</p>
  </div>
  <form *ngIf="cardTitle"
        (ngSubmit)="saveCardTitle()"
        [formGroup]="titleForm">

    <div class="container-margin">
      <mat-input-container class=" text-full-width">
        <input
          matInput
          placeholder="TITLE"
          formControlName="title">
      </mat-input-container>
      <mat-card class="alert" *ngIf="!titleForm.controls['title'].valid
                        && titleForm.controls['title'].touched">
        You must specify title in 100 characters
      </mat-card>
      <mat-input-container class=" text-full-width">
                            <textarea matInput
                                      placeholder="DESCRIPTION"
                                      name="description"
                                      formControlName="description">

                            </textarea>
      </mat-input-container>
      <mat-card class="alert"
                *ngIf="!titleForm.controls['description'].valid ">
        You must specify description in 500 characters
      </mat-card>
    </div>
  </form>

  <todo [card]="data.card"></todo>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="openDialog()">Delete</button>
  <span class="example-spacer"></span>
  <button mat-raised-button [mat-dialog-close]="titleForm.value" [disabled]="titleForm.controls['title'].invalid || titleForm.controls['description'].invalid "  tabindex="2">Save</button>
</div>
