<div
  class="cards-container"
  [class.active]="newCard"
  dnd-sortable-container [sortableData]="cards"
>


  <!--
  [sortablejs]="cards"   [sortablejsOptions]="options"
  [id]="columnId"
  [attr.data-title]="card.title"
  [attr.data-id]="card.id"
  [attr.data-position]="card.position"
  [attr.data-description]="card.description"
  [attr.data-columnid]="card.columnId"
  [attr.data-cards]="cards | json"

  [sortablejs]="cards"   [sortablejsOptions]="options"

    <div *ngIf="hideGhostCard"
       [id]="columnId"
       [sortablejs]=" cards"
       [sortablejsOptions]="options" class="ghost-card">
  </div>

  -->
  <card-item class="card-item"
             *ngFor=" let card of cards; let i = index"
             dnd-sortable
             [sortableIndex]="i"
             [dragData]="card"
             (onDropSuccess)="onMove($event, cards, i, columnId)"
             [card]="card" >
  </card-item>


</div>
<form *ngIf="newCard"
      (ngSubmit)="saveCardTitle();
                  titleForm.reset()"
      [formGroup]="titleForm">

  <mat-card class="mdcard-style">
    <input class="card-title-input"
           placeholder="card title..."
           formControlName="title">
    <mat-card class="alert" *ngIf="!titleForm.controls['title'].valid
                        && titleForm.controls['title'].touched">
      You must specify title in 100 characters
    </mat-card>
    <div class="btn-row">
      <button class="btn-row-save"
              mat-button
              type="submit"
              [disabled]="titleForm.invalid">
        <mat-icon class="save-icon">save</mat-icon>
      </button>
      <button class="btn-row-clear"
              mat-button
              type="button"
              (click)="clearCardTitle(card)">
        <mat-icon class="clear-icon">clear</mat-icon>
      </button>
    </div>
  </mat-card>
</form>
<div class="add-card">
  <p class="btn-add"
     (click)="createCard()">
    add card
  </p>
</div>
